{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


<div style=" max-height :1000px;">
   
<div class="card bg-dark text-white">
    <img src="{% static 'blog/images/Login.jpg' %}" class="card-img" alt="...">
    <div class="card-img-overlay" class="w-100">
    <h1 class="card-title">About Blog</h1>
   <h2> <p class="card-text"> Jorn Barger introduced we-blog term 1999: Peter Merholz converted weblog into we-blog. 
        The term blog was born!  Politicians, movie stars, everyone started embracing blogs
        You can learn a lot from blogs. Doesn’t require that writers and contributors know a lot about HTML.
        Serves as an Internet medium where you canalways refer to older entries and refer them asand when needed.
        Blogging is fun and for everyone.
       </p>
    </h2>
       
      
        
    <!--<p class="card-text">Last updated 3 mins ago</p>-->

</div>
  
    </div>
<!--<div class="">
    <h3  class="text-Black my-5" > About Page</h3>
    <div  class="card h-100">
       <img src="{% static 'blog/images/login.jpg' %}" class="card-img-top" alt="...">
         <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lea
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
    </div>-->

</div>

{% endblock content %}